@import "variables.scss";

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_theme.scss";


// TODO: Move this to its own file.
body {
    padding-top: 70px;
}

@media screen and (max-width: $screen-sm) {
  .navbar-brand {
      img {
          max-width: 90%;
          height: auto;
        //   margin-bottom: 1%;
      }
      padding-top: $navbar-padding-vertical / 2;
  }
}
